.tile{
    padding: 1rem;
    font-size: 1.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info{
    white-space: nowrap;
    max-height: 100%;
    overflow-x: hidden;
}

.actions{
    display: flex;
}

.checkbox{
    width: 50px;
    aspect-ratio: 1/1;
    margin: 0;
}

.delete{
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: all 300ms;
}

.delete:hover{
    background-color: red;
}

.delete, .delete > *{
    height: 50px;
    aspect-ratio: 1/1;
    width: 50px;
    display: grid;
    place-items: center;
}
